# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
.terraform.lock.hcl
.crash

# Archivos de salida
*.zip

# Node.js (si usás dependencias o pruebas en JS)
node_modules/

# Archivos sensibles
.env
